@*@model CustomersApp.Models.Login

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
</head>
<meta name="viewport" content="width=device-width" />
<title>Index</title>

<head>
    <body>
<div>
@using (@Html.BeginForm())
{
<table border="0">
<tr>
</tr>
<tr>
Index.cshtml X HomeController.cs
<td>@Html.LabelFor (model=>model. Name)</td>
<td>@Html. Editor For (model => model.Name) </td>
<td>@Html.LabelFor (model => model. Password) </td>
<td>@Html. Editor For (model => model. Password) </td>
<tr><td><input type="submit" value="Login" /></td></tr>
</tr>
</table>
</div>
</body>
</html>
*@